{% extends 'base.html' %}
{% load static %}
{% block title %}Forget Password{% endblock title %}
{% block body %}
{% include 'include/header.html' %}
<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form method="post">
                    {% csrf_token %}
                    <div class="resister-section">
                        <div class="resister-header">
                            <h2 class="text-center">Forget Password</h2>
                            <p>Enter your email address.We will send you instructions to Sign-in</p>
                        </div>

                        <div class="resister-form">
                            <label for="remail">E-mail:</label>
                            <input type="email" name="email" id="remail" class="form-control" required>
                            <button type="submit" class="btn btn-success my-3 fw-semibold w-100">Recovery Password</button>
                            <hr>
                            <p>Don't have an account? <a href="{% url 'accounts:signup' %}">Register</a></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock body %}