{% extends "base.html" %}
{% load static %}
{% block title %}Profile{% endblock title %}

{% block body %}
{% include 'include/header.html' %}

<div class="container mt-3">
  <h4>My Companies</h4>

  <table class="table">
    <tr>
      <th>Serial</th>
      <th>Company Name</th>
      <th>Coupon</th>
      <th>Domain</th>
      <th>Change Company Name</th>
      <th>Action</th>
      <th>Activate</th>
    </tr>

  {% for company in companies %}
  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{company.name}}</td>
    <td>{{company.coupon}}</td>
    <td>{{company.domain | slice:50}} 
    {% if company.domain|length > 50 %}
    . . . .
    {% endif %}
     </td>
    <form method="post">
      {% csrf_token %}
      <td><input name="company" class="form-control" type="text" required></td>
      <input type="hidden" value="{{company.id}}" name="id">
      <td> <input type="submit" class="btn btn-outline-primary" name="changeCompany" value="Change"></td>
    </form>
      <td>
        {% if company.domain %}
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="disableID" value="{{company.id}}">
          <button type="submit" name="disableCompany" class="btn btn-danger">Clear</button>
        </form>
        {% endif %}

        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#activate{{company.id}}"> Add</button>
      </td>
  </tr>
   
  <div class="modal fade " id="activate{{company.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="staticBackdropLabel">Enter Domain Name</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <form id="" method="post">
              {% csrf_token %}
              <div class="modal-body">
                  <div class="d-flex align-items-end justify-content-between">
                      <div class="w-100 mx-2">
                        <p id="domain_list">{{company.domain}}</p>
                          <input class="form-control" id="domainName" name="domainName" type="text" placeholder="New Domain Name" required>
                          <input type="hidden" id="companyID" name="companyID" value="{{company.id}}">
                      </div>
                  </div>
              </div>
              <div class="modal-footer">
                  <button type="submit" name="activeCompany" class="btn btn-primary">Add Now</button>
              </div>
          </form>

        </div>
    </div>
  </div>

  {% endfor %}
</table>

<button type="button" class="btn btn-primary float-end mt-5" data-bs-toggle="modal" data-bs-target="#addCompany"> Add New Company </button>

<div class="modal fade " id="addCompany" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-md">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="staticBackdropLabel">Enter Company Name</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal"
                  aria-label="Close"></button>
          </div>
          <form method="post">
            {% csrf_token %}
            <div class="modal-body">
                <div class="d-flex align-items-end justify-content-between">
                    <div class="w-100 mx-2">
                        <input class="form-control" name="companyName" type="text" placeholder="New Company Name" required>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" name="addCompany" class="btn btn-primary">Add Confirm</button>
            </div>
        </form>
      </div>
  </div>
</div>


</div>
{% endblock body %}


