{% extends 'base.html' %}
{% load static %}
{% block title %}Set New Password{% endblock title %}
{% block body %}
{% include 'include/header.html' %}
<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form method="post">
                    {% csrf_token %}
                    <div class="resister-section">
                        <div class="resister-header">
                            <h2 class="text-center">Setup Password</h2>
                        </div>

                        <div class="resister-form">
                            <div class="password-hide-show">
                                <label for="otp">Enter OTP</label>
                                <input type="number" name="otp" id="otp" class="form-control mb-2" required>
                            </div>
                            <div class="password-hide-show">
                                <label for="password">Password:</label>
                                <input type="password" name="password1" id="password" class="form-control mb-2" required>
                                <div id="password-hide-show-btn">
                                    <i id="password-show" class="fa-solid fa-eye d-none"></i>
                                    <i id="password-hide" class="fa-solid fa-eye-slash"></i>
                                </div>
                            </div>
                            <div class="password-hide-show">
                                <label for="password2">Confirm Password:</label>
                                <input type="password" name="password2" id="password2" class="form-control mb-2" required>
                                <div id="password-hide-show-btn2">
                                    <i id="password-show2" class="fa-solid fa-eye d-none"></i>
                                    <i id="password-hide2" class="fa-solid fa-eye-slash"></i>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-success my-3 fw-semibold w-100">Update Password</button>
                            <hr>
                            <p>Don't have an account? <a href="{% url 'accounts:signup' %}">Register</a></p>
                        </div>
                       
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock body %}