{% extends 'base.html' %}
{% load static %}
{% block title %}Form 1{% endblock title %}
{% block body %}
{% include 'include/header.html' %} 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <link rel="stylesheet" href="{% static 'css/form1_style.css' %}">
</head>

<body>
<div class="code-show-container">
<h4 class="mt-4 text-success text-center">Your Form Code</h4>


<div class="css-show-code">
    <pre class='code code-css'><label>Code</label><code id="code1">
<i rel="pre">
&lt;link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" /&gt;
&lt;link rel="stylesheet" href="https://tbm.xemiron.com/static/css/form1_style.css"&gt;
</i>
    </code>
    </pre>
    <button id="copy-button1">Copy</button>
</div>


<div class="css-show-code">
    <pre class='code code-html code-css'><label>Code</label><code id="code2">
<i rel="pre">
&lt;div class="form-container"&gt;
    &lt;div class="comming-1"&gt;
        &lt;div class="comming-mail-input"&gt;
            &lt;div class="comming-mail-input-header"&gt;
                &lt;h2&gt;Subscription Page&lt;/h2&gt;
            &lt;/div&gt;
            &lt;div class="comming-mail-input-body"&gt;
                &lt;div class="firstlastName"&gt;
                    &lt;div class="firstName"&gt;
                        &lt;label for=""&gt;First Name: &lt;/label&gt;
                        &lt;div class="comming-input-parent"&gt;
                            &lt;input type="text" id="first_name" name="first_name" required&gt;
                            &lt;div class="input-icon"&gt;
                                &lt;i class="fa-solid fa-user"&gt;&lt;/i&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;div class="lastName"&gt;
                        &lt;label for=""&gt;Last Name: &lt;/label&gt;
                        &lt;div class="comming-input-parent"&gt;
                            &lt;input type="text" id="last_name" name="last_name" required&gt;
                            &lt;div class="input-icon"&gt;
                                &lt;i class="fa-solid fa-user"&gt;&lt;/i&gt;
                            &lt;/div&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                &lt;div&gt;
                    &lt;label for=""&gt;E-mail:&lt;/label&gt;
                    &lt;div class="comming-input-parent"&gt;
                        &lt;input type="email" id="email" name="email" required&gt;
                        &lt;div class="input-icon"&gt;
                            &lt;i class="fa-solid fa-envelope"&gt;&lt;/i&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                &lt;div&gt;
                    &lt;label for=""&gt;Phone: &lt;/label&gt;
                    &lt;div class="comming-input-parent"&gt;
                        &lt;input type="number" id="phone" name="phone" required&gt;
                        &lt;div class="input-icon"&gt;
                            &lt;i class="fa-solid fa-phone"&gt;&lt;/i&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
                &lt;div id="susbscribe1" style="text-align: center;color: green;margin: 10px 0px;"&gt;&lt;/div&gt;
                &lt;div id="susbscribe2" style="text-align: center;color: red;margin: 10px 0px;"&gt;&lt;/div&gt;
                &lt;div class="subcribe-btn"&gt;
                    &lt;button onclick="subscribe()" class="subscribebtn" type="submit"&gt;Submit&lt;/button&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</i>
    </code>
    </pre>
    <button id="copy-button2">Copy</button>
</div>



<div class="css-show-code">
    <pre class='code code-css'><label>Code</label><code id="code3">
<i rel="pre">
&lt;script&gt;
    var companyData = {
        company_name: '{{company.name}}',
        company_coupon: '{{company.coupon}}'
    };
&lt;/script&gt;
&lt;script src="https://tbm.xemiron.com/static/js/builder_form.js"&gt;&lt;/script&gt;
</i>
    </code>
    </pre>
    <button id="copy-button3">Copy</button>
</div>
</div>



<script>
    document.addEventListener('DOMContentLoaded', () => {

    const codeBlock1 = document.getElementById('code1');
    const codeBlock2 = document.getElementById('code2');
    const codeBlock3 = document.getElementById('code3');
    const copyButton1 = document.getElementById('copy-button1');
    const copyButton2 = document.getElementById('copy-button2');
    const copyButton3 = document.getElementById('copy-button3');

    // HTML
    const copyTextHandler1 = () => {
    const text = codeBlock1.innerText;

    navigator.clipboard.writeText(text).then(
        () => {
        copyButton1.innerHTML = "Copied!";
        setTimeout(() => {
            copyButton1.innerHTML = "Copy";
        }, 1000);
        }
    );
    };

    copyButton1.addEventListener('click', copyTextHandler1);

    // CSS
    const copyTextHandler2 = () => {
    const text = codeBlock2.innerText;

    navigator.clipboard.writeText(text).then(
        () => {
        copyButton2.innerHTML = "Copied!";
        setTimeout(() => {
            copyButton2.innerHTML = "Copy";
        }, 1000);
        }
    );
    };

    copyButton2.addEventListener('click', copyTextHandler2);


    // JavaScript
    const copyTextHandler3 = () => {
    const text = codeBlock3.innerText;

    navigator.clipboard.writeText(text).then(
        () => {
        copyButton3.innerHTML = "Copied!";
        setTimeout(() => {
            copyButton3.innerHTML = "Copy";
        }, 1000);
        }
    );
    };

    copyButton3.addEventListener('click', copyTextHandler3);
});

</script>

{% endblock body %}