{% extends 'base.html' %}
{% load static %}
{% block title %}Send Email{% endblock title %}
{% block body %}
{% include 'include/header.html' %}
{% include 'include/category_header.html' %}
<!-- All Contact Page -->
{% csrf_token %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="all-contacts-page-header py-4">
                    <h2>Audience</h2>
                    <p>Your audience has <span>12</span> contact. <span>01</span> of these is subscribed.</p>
                </div>

                <div>
                    <div class="d-flex align-items-end justify-content-between filter-audiencs">
                        <form method="get">
                            {{ filter.form.as_p }}
                            <button type="submit" class="audiencs-filter-btn">Filter</button>
                        </form>
                    </div>
    
                    <div class="d-flex align-items-center gap-3 py-3">
                        
                        <div class="d-block">
                            <input type="checkbox" style="cursor: pointer;" id="all_dispatch" onchange="selectAllDispatch()">
                            <label for="all_dispatch" style="cursor: pointer;">Select this dispatch</label>
                        </div>
                        <div class="d-block">
                            <input type="checkbox" {% if select_all == 'true' %} checked {% endif %} style="cursor: pointer;" id="all" onchange="selectAll()">
                            <label for="all" style="cursor: pointer;">Select All</label>
                        </div>
                        
                        <div>
                            <form id="create_new_category_form" class="create-audiencs-category">
                                {% csrf_token %}
                                <input type="text" class="d-none" id="create-audiencs-category-input" name="create_category_name" placeholder="Input Category Name" required>
                                <button type="button" id="audiencs-segment-create-btn-without-input">Create new Segment</button>
                                <button type="submit" class="d-none" name="create_category" id="audiencs-segment-create-btn-with-input">➕ Create new Segment</button>
                                <button type="button" class="d-none" id="audiencs-segment-cancel-btn">Cancel</button>
                            </form>
                        </div>
                    </div>

                    <div class="table-responsive scrollable-table-height border">
                        <table class="table table-selectable scrollable-table-width" id="myTable">
                            <thead>
                                <tr>
                                    <th>Select</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Whatsapp</th>
                                    <th>Company</th>
                                    <th>Age</th>
                                    <th>Gender</th>
                                    <th>Country</th>
                                    <th>Create Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for subscriber in subscribers %}
                                <tr id="subscriber_{{ subscriber.id }}">
                                    <th scope="row"><input type="checkbox" {% if subscriber.id in selected_id %} checked {% endif %} onchange="checkbox_load()" name="subscribers" value="{{subscriber.id}}" id="{{subscriber.id}}"></th>

                                    <td class="firstName-column"><input type="text" class="form-control" name="first_name" value="{{subscriber.first_name}}" disabled></td>
                                    <td class="lastName-column"><input type="text" class="form-control" name="last_name" value="{{subscriber.last_name}}" disabled></td>
                                    <td><input type="text" class="form-control" name="email" value="{{subscriber.email}}" disabled></td>
                                    <td><input type="text" class="form-control" name="phone" value="{{subscriber.phone}}" disabled></td>
                                    <td><input type="text" class="form-control" name="whatsapp" value="{{subscriber.whatsapp}}" disabled></td>
                                    <td><input type="text" class="form-control" name="company" value="{{subscriber.company}}" disabled>
                                    </td>
                                    <td class="age-column"><input type="text" class="form-control" name="age" value="{{subscriber.age}}" disabled></td>
                                    <td>
                                        <select name="gender" id="" class="form-select" disabled>
                                            <option class="bg-primary">{{subscriber.gender}}</option>
                                            <option value="Male">Male</option>
                                            <option value="Female">Female</option>
                                        </select>
                                    </td>
                                    
                                    <td><input type="text" class="form-control" name="country" value="{{subscriber.country}}" disabled></td>
                                    <td>{{subscriber.10}}</td>
                                    <td>
                                        <button class="delete"><i class="fa-solid fa-trash"></i></button>
                                        <button class="edit"><i class="fa-solid fa-pen-to-square"></i></button>
                                        <button class="update"><i class="fa-solid fa-check"></i></button>
                                    </td>
                                </tr>   
                                {% endfor %}                                           
                            </tbody>
                        </table>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="container pagination mb-5">
            <span class="step-links">
                {% if subscribers.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ subscribers.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ subscribers.number }} of {{ subscribers.paginator.num_pages }}.
                </span>
        
                {% if subscribers.has_next %}
                    <a href="?page={{ subscribers.next_page_number }}">next</a>
                    <a href="?page={{ subscribers.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
    </div>
</section>

<script>
    var selecta_all_status = 'empty';
    var checkboxes = document.getElementsByName('subscribers');
    var selectAllCheckbox = document.getElementById('all');
    var selectedIds = [];
    var UnselectedIds = [];

    function checkbox_load(all_status = 'empty') {

        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                selectedIds.push(checkboxes[i].value);
            }else{
                UnselectedIds.push(checkboxes[i].value);
            }
        }

        if (selectAllCheckbox.checked){
            selecta_all_status = selectAllCheckbox.checked;
        }

        if(all_status == 'true'){
            selecta_all_status = 'notempty';
        }

        
    }



    document.getElementById('create_new_category_form').addEventListener('submit',function(event){   
        event.preventDefault();
        var CSRFToken = document.querySelector('input[name=csrfmiddlewaretoken]').value;
        var formdata = new FormData(); 
        var categoryName = document.getElementById('create-audiencs-category-input').value;
        if(categoryName == ''){
            alert('Name can not be empty');
            return;
        } 
        formdata.append("selected_id",selectedIds.join(','))
        formdata.append("unselected_id",UnselectedIds.join(','))
        formdata.append("select_all",selecta_all_status)
        formdata.append("category_name",categoryName)
        formdata.append("subscriber_select_status",'update selected subscriber')
        formdata.append("csrfmiddlewaretoken",CSRFToken)
        fetch("{% url 'tbm:subscribers' %}" , {
            method: "POST",
            headers: new Headers(),
            body: formdata,
        })
        .then((result) => { 
            return result.json();
         })
        .then((data) => { 
            console.log(data.response);
            if(data.response == 'ok'){
                window.location.href='/subscribers/';
            }else{
                alert(data.response);
            }
         })
    });

    function selectAllDispatch() {
        var checkboxes = document.getElementsByName('subscribers');
        var selectAllDispatchCheckbox = document.getElementById('all_dispatch');

        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = selectAllDispatchCheckbox.checked;
        }
        checkbox_load(all_status='true');// Call the checkbox_load function to update the hidden input
    }

    function selectAll() {
        var checkboxes = document.getElementsByName('subscribers');
        var selectAllCheckbox = document.getElementById('all');

        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = selectAllCheckbox.checked;
        }
        checkbox_load(); // Call the checkbox_load function to update the hidden input
    }
</script>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        const editButtons = document.querySelectorAll('.edit');
        editButtons.forEach(button => {
            button.addEventListener('click', function() {
                const row = button.closest('tr');
                const inputs = row.querySelectorAll('input[type="text"] , select');
                inputs.forEach(input => {
                    input.disabled = !input.disabled;
                });
                button.style.display = 'none';
                const updateButton = row.querySelector('.update');
                if (updateButton) {
                    updateButton.style.display = 'inline-block';
                }
            });
        });
       
        const updateButtons = document.querySelectorAll('.update');
        updateButtons.forEach(button => {
            button.addEventListener('click', function() {
                const row = button.closest('tr');
                const inputs = row.querySelectorAll('input[type="text"],select');

                var id = row.querySelector('input[name="subscribers"]');
                var first_name = row.querySelector('input[name="first_name"]');
                var last_name = row.querySelector('input[name="last_name"]');
                var email = row.querySelector('input[name="email"]');
                var phone = row.querySelector('input[name="phone"]');
                var whatsapp = row.querySelector('input[name="whatsapp"]');
                var country = row.querySelector('input[name="country"]');
                var company = row.querySelector('input[name="company"]');
                var gender = row.querySelector('select[name="gender"]');
                var age = row.querySelector('input[name="age"]');
                
                var CSRFToken = document.querySelector('input[name=csrfmiddlewaretoken]').value;
                var formdata = new FormData();
                formdata.append("subscribe_id", id.value);
                formdata.append("first_name", first_name.value);
                formdata.append("last_name", last_name.value);
                formdata.append("email", email.value);
                formdata.append("phone", phone.value);
                formdata.append("whatsapp", whatsapp.value);
                formdata.append("country", country.value);
                formdata.append("company", company.value);
                formdata.append("gender", gender.value);
                formdata.append("age", age.value);
                formdata.append("csrfmiddlewaretoken", CSRFToken);
                fetch("{% url 'tbm:subscribers' %}", {
                    method: "POST",
                    headers: new Headers(),
                    body: formdata,
                })
                .then((result) => { return result.json() })
                .then((data) => { 
                });

                inputs.forEach(input => {
                    input.disabled = true;
                });
                button.style.display = 'none';

                const editButton = row.querySelector('.edit');
                if (editButton) {
                    editButton.style.display = 'inline-block';
                }
            });
        });

        const deleteButtons = document.querySelectorAll('.delete');
        deleteButtons.forEach(button => {
            button.addEventListener('click', function() {
                const confirmed = confirm("Are you sure delete?");
                if(confirmed){
                    const row = button.closest('tr');
                    var id = row.querySelector('input[name="subscribers"]');
                    var CSRFToken = document.querySelector('input[name=csrfmiddlewaretoken]').value;
                    var formdata = new FormData();
                    formdata.append("delete_subscribe_id", id.value);
                    formdata.append("csrfmiddlewaretoken", CSRFToken);

                    fetch("{% url 'tbm:subscribers' %}", {
                        method: "POST",
                        headers: new Headers(),
                        body: formdata,
                    })
                    .then((result) => { return result.json() })
                    .then((data) => { 
                        row.classList.add('htmx-swapping');
                        row.remove();
                    
                    });
                }
            });
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
    const segmentCreateOpenBtn = document.getElementById('audiencs-segment-create-btn-without-input');
    const segmentCreateBtn = document.getElementById('audiencs-segment-create-btn-with-input');
    const segmentCancelBtn = document.getElementById('audiencs-segment-cancel-btn');
    const segmentCreateInput = document.getElementById('create-audiencs-category-input');

    segmentCreateOpenBtn.addEventListener('click', ()=>{
        segmentCreateInput.classList.remove('d-none');
        segmentCancelBtn.classList.remove('d-none');
        segmentCreateOpenBtn.classList.add('d-none');
        segmentCreateBtn.classList.remove('d-none');
    })

    segmentCancelBtn.addEventListener('click', ()=>{
        segmentCreateInput.classList.add('d-none');
        segmentCreateBtn.classList.add('d-none');
        segmentCreateOpenBtn.classList.remove('d-none');
        segmentCancelBtn.classList.add('d-none');
    })
});
</script>
{% endblock body %}




