{% extends 'base.html' %}
{% load static %}
{% block title %}Send Email{% endblock title %}
{% block body %}
{% include 'include/header.html' %}
{% include 'include/category_header.html' %}
{% csrf_token %}
<div class="container">
    <h4 class="mt-5">All Categories</h4>
    <table class="table">
        <tr>
            <td>Serial</td>
            <td>Category Name</td>
            <td>Total Member</td>
            <td>Action</td>
        </tr>
        {% for category in categories %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{category.name}}</td>
                <td>{{category.subscriber.all|length}}</td>
                <td>
                    <a class="btn btn-primary" href="{% url 'tbm:category_edit' category.id %}">Edit</a>
                    <a class="btn btn-primary" onclick="delete_category({{category.id}})" href="">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock body %}

{% block script %}
    <script>
        function delete_category(category_id){
            var confirmation = window.confirm("Are you sure you want to delete this category?");
            if (confirmation){
                var CSRFToken = document.querySelector('input[name=csrfmiddlewaretoken]').value;
                var formdata = new FormData(); 
                formdata.append("category_id",category_id)
                formdata.append("csrfmiddlewaretoken",CSRFToken)
                fetch("{% url 'tbm:del_category' %}" , {
                    method: "POST",
                    headers: new Headers(),
                    body: formdata,
                })
                .then((result) => { 
                    return result.json() ;
                })
            }
        }
    </script>
{% endblock script %}
    

